/* Section "Compétences" */
.competences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: var(--gap-large);
}

.competences_container {
    max-width: var(--max-width);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-large);
}

.competences_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
    border: 1px solid var(--border-color);
    padding: var(--gap-medium);
}

.competences_items h3, p {
    margin: 0;
    text-align: justify;
}

.competences_items h3 {
    font-size: var(--font-size-medium);
}

.competences_items:hover {
    background-color: var(--hover-border-color);
    color: var(--white);
}

/* Pour les écrans de 768px de large ou moins */
@media (max-width: 767px) {

    /* Section "Compétences" : Passer d'une grille à deux colonnes à une seule colonne */
    .competences_container {
        grid-template-columns: 1fr;

    }

}

/* Media Queries pour adapter le site à différentes tailles d'écran */
/* Pour les écrans de 1024px de large ou moins */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /* Section "Compétences" : Passer d'une grille à trois colonnes à deux colonnes */
    .competences_container {
        grid-template-columns: repeat(2, 1fr);
    }
    .competences {
        margin-right: var(--gap-small);
        margin-left: var(--gap-small);
    }
}