/* Section "Expérience" */
#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-large);
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-large);
    margin-top: var(--gap-large);
    margin-bottom: var(--gap-large);
    max-width: var(--max-width);
}

.experience_container {
    display: flex;
    gap: var(--gap-large);
}

.experience_content {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-large);
}

.experience_items {
    border: 1px solid var(--border-color);
    padding: var(--gap-small);
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    min-height: 20vh; /* Hauteur minimale pour garantir une taille de boîte correcte */
    height: auto; /* Hauteur auto pour s'ajuster au contenu */
    box-sizing: border-box; /* Inclure les bordures et le padding dans les dimensions de l'élément */
}

.experience_items:hover {
    border: 1px solid var(--hover-border-color);
}

.experience_items h3 {
    font-size: 1rem;
}

.experience_items h4 {
    font-size: var(--font-size-small);
}

.experience_items h3, .experience_items h4 {
    margin: 0; /* Supprimer les marges pour éviter les débordements */
    padding: 0;
    flex-shrink: 0; /* Empêche les éléments de rétrécir s'il y a trop de contenu */
}

.experience_icon_title {
    display: flex;
    align-items: center;
    column-gap: var(--gap-medium);
    margin-bottom: var(--gap-small);
    flex-shrink: 0;
}

.experience_items .content {
    flex-grow: 1; /* Prend tout l'espace restant disponible dans la boîte */
    margin-top: var(--gap-small);
}

.experience_icon_title h2 {
    margin: 0;
}

.experience_icon_title i {
    color: var(--highlight-color);
}

/* Pour les écrans de 768px de large ou moins */
@media (max-width: 768px) {

    /* Section "Compétences" : Passer d'une grille à deux colonnes à une seule colonne */
    .experience_container {
        flex-direction: column;
    }

}

/* Media Queries pour adapter le site à différentes tailles d'écran */
/* Pour les écrans de 1024px de large ou moins */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /* Section "Compétences" : Passer d'une grille à trois colonnes à deux colonnes */
    .experience_container {
        flex-direction: column;
    }
}