
:root {
  --primary-color: #ff0147;
  --secondary-color: #212429;
  --third-color: #5E17EB;
  --text-light: #d1d5db;
  --white: #ffffff;
  --black: #000000;
  --max-width: 1560px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-inline: auto;
}

a {
  color: #000;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  width: 100%;
}

.btn{
  background-color : forestgreen;
  color: white;
  width: 200px;
  padding: 10px;
}

.btn:hover{
  background-color: darkgreen;
  color: white;
}

.line {
  display: inline-block;
  width: 50px; /* La largeur des barres horizontales */
  height: 2px; /* La hauteur des barres horizontales */
  background-color: forestgreen; /* La couleur des barres horizontales */
  margin: 0 10px; /* L'espace entre les barres et l'image */
}

.content_title_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content_title_icon > div {
  display: flex;
  align-items: center;
}

/*#####################################"header"*/

.header__container {
  background-image: url("/src/assets/images/slider_header.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.header__article_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__article_content p {
  color : white;
  font-size: 32px;
}

.cercle_img{
  height: 200px;
  width: 200px;
  background-color: forestgreen;
  border-radius: 50%;
}

/*#####################################"about"*/

.about{
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  height: 70vh;
}
.about_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap : 70px;
}

.about_container img{
  width: 100%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 10%;
}

.about_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap : 20px;
}

.about_content p {
  text-align: justify;
}

.about_content p span.span_b {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 0;
}

.icon img{
  width: 20px;
  height: 20px;
  margin : 0;
}

.about_content button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding : 0;
  column-gap: 5px;
}

/*#####################################"Education"*/

.education{
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  height: 100vh;
}

.education_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.education_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.education_content article {
  border : 1px solid #718096;
  padding : 20px;
}

/*#####################################"footer"*/

.footer_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  background-color : #212429;
  color: white;
}

.footer_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin : 0;
  padding: 20px;
}

.footer_content ul{
  padding : 0;
  margin: 0;
}

.name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 42px;
  color: white;
}
.name .icon_container{
  display: flex;
  column-gap: 20px;
}

.name .icon_container img{
  width : 50px;
  height : 50px;
}

.links {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.links h3{
  margin: 0;
}

.links ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.links ul li {
  margin : 0;
}

.links ul li a:hover {
  color : forestgreen;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact h3{
  margin: 0;
}

.contact ul{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.contact ul li{
  margin : 0;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.contact ul li div.cercle_img{
  width : 50px;
  height : 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin : 0;
}

.contact ul li img{
  width : 30px;
  height : 30px;
}

.contact ul li:first-child img{
  width : 50px;
  height : 50px;
}

.contact ul li a{
  margin : 0;
}

.contact ul li a:hover {
  color : forestgreen;
}

.mailMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding : 0;
  column-gap: 5px;
}

.footer_container a{
  color: white;
}

.footer_container section:not(.footer_content){
  border-top : 1px solid #718096;
  width: 100%;
  display: flex;
  justify-content: center;
  padding : 10px;
}

.mailMe button{
  display: flex;
  align-items: center;
  padding : 5px;
  width : 171px;
}

/*#####################################"skills"*/