:root {
  /* Couleurs */
  --primary-color: #ff0147; /* Couleur principale (rouge vif) */
  --secondary-color: #212429; /* Couleur secondaire (gris foncé) */
  --tertiary-color: forestgreen; /* Couleur tertiaire */
  --third-color: #5E17EB; /* Couleur supplémentaire (violet) */
  --white: #ffffff; /*couleur blanche*/
  --text-light: #d1d5db; /* Couleur du texte clair */
  --text-color-white: #ffffff; /* Couleur du texte blanc */
  --text-color-muted: #888; /* Couleur du texte atténué */
  --text-color-dark: #000000; /* Couleur du texte sombre */
  --background-light: rgba(255, 255, 255, 0.8); /* Fond légèrement transparent pour certaines sections */
  --overlay-color: rgba(0, 0, 0, 0.5); /* Couleur de l'overlay */
  --border-color: #718096; /* Couleur de la bordure */
  --hover-border-color: lightseagreen; /* Couleur de la bordure au survol */

  /* Espacements */
  --gap-small: 10px;
  --gap-medium: 20px;
  --gap-large: 30px;
  --gap-xlarge: 70px;

  /* Bordures et Rayons */
  --border-radius-small: 5px;
  --border-radius-medium: 8px;
  --border-radius-large: 10%; /* Pourcentage utilisé pour des formes spécifiques */
  --border-radius-circle: 50%; /* Pour les éléments circulaires */
  --border-radius: 10px; /* Bordure par défaut */

  /* Tailles de police */
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-large: 20px;
  --font-size-xlarge: 24px;
  --font-size-xxlarge: 32px;
  --font-size-huge: 42px;
  --font-size-quote: 18px; /* Taille de la police pour les citations */
  --font-size-author: 16px; /* Taille de la police pour les auteurs des citations */

  /* Bouton */
  --btn-width: 200px;
  --btn-padding: 10px;
  --btn-bg-color: forestgreen;
  --btn-hover-bg-color: darkgreen;

  /* Largeurs maximales */
  --max-width: 1280px;
  --content-max-width: 1280px;

  /* Effets */
  --transition-duration: 0.3s; /* Durée de transition générale */
  --box-shadow-hover: 0 10px 20px rgba(0, 0, 0, 0.3); /* Ombre portée au survol */

  /* Tailles des icônes */
  --icon-size-small: 20px;
  --icon-size-medium: 30px;
  --icon-size-large: 50px;
  --icon-size: 24px; /* Taille par défaut des icônes */

  /* Tailles d'éléments spécifiques */
  --circle-diameter: 200px; /* Diamètre pour les éléments circulaires */

  /* Header */
  --header-height: 70vh; /* Hauteur du header */
}


/* Réinitialisation globale */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--text-color-dark);
  text-decoration: inherit;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  width: 100%;
}

.btn {
  background-color: var(--btn-bg-color);
  color: var(--white);
  width: var(--btn-width);
  padding: var(--btn-padding);
  transition: background-color var(--transition-duration);
}

.btn:hover {
  background-color: var(--btn-hover-bg-color);
}