/* Base Styles */

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #718096;
    padding: 0;
    margin-top : 16px;
}

nav > article {
    margin: 0;
}

.icon{
    width: 44px;
    height: 44px;
}

.link_item{
    display: flex;
    justify-content : space-between;
    align-items: center;
    width: 100%;
}

.link_item section {
    margin: 0;
}

.link_item section > ul {
    display: flex;
    gap: 32px;
}

.link_item ul li a {
    font-size: 1rem;
    padding: 12px 0;
    display: block;
}

.link_item section:nth-child(2) {
    display: flex;
    gap: 32px;
}

.menu-hamburger {
    display: none;
}

.btn{
    background-color : forestgreen;
    color: white;
    width: 200px;
}

.btn:hover{
    background-color: darkgreen;
    color: white;
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {
    nav {
        flex-direction: column;
    }

    nav section {
        margin: 0;
    }

    nav article section > ul {
        flex-direction: column;
        gap: 20px;
        padding-left: 0;
        margin: 10px 0;
        width: 100%;
    }

    nav section > ul li {
        margin: 0;
        border-top: 1px solid #718096;
        width: 100%;
    }


    .menu-hamburger {
        display: block;
        cursor: pointer;
    }

    .menu-hamburger a {
        display: inline-block;
        font-size: 1.5rem;
        margin-left: 10px;
    }

    .menu-hamburger .fa-x {
        display: none;
    }

    .menu-hamburger.active .fa-bars {
        display: none;
    }

    .menu-hamburger.active .fa-x {
        display: inline-block;
    }

    /* Ensure visibility of menu when open */
    .link_item.is-visible {
        display: block;
    }

    .link_item {
        display: none;
    }
}
