/* Base Styles */
nav {
    display: flex;
    padding: 16px 30px 0 30px;
}

nav > article {
    margin: 0;
}

.menu-hamburger {
    display: none;
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {
    nav {
        flex-direction: column;
    }

    nav section {
        margin: 0;
    }

    nav article section > ul {
        flex-direction: column;
        gap: 20px;
        padding-left: 0;
        margin: 10px 0;
        width: 100%;
    }

    nav section > ul li {
        margin: 0;
        border-top: 1px solid #718096;
        width: 100%;
    }


    .menu-hamburger {
        display: block;
        cursor: pointer;
    }

    .menu-hamburger a {
        display: inline-block;
        font-size: 1.5rem;
        margin-left: 10px;
    }

    .menu-hamburger .fa-x {
        display: none;
    }

    .menu-hamburger.active .fa-bars {
        display: none;
    }

    .menu-hamburger.active .fa-x {
        display: inline-block;
    }

    /* Ensure visibility of menu when open */
    .link_item.is-visible {
        display: block;
    }

    .link_item {
        display: none;
    }
}
