/* Base Styles */
.navbar_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color); /* Utilisation de la couleur de bordure */
    padding: 0;
    margin-top: var(--gap-small); /* Espacement en haut */
    max-width: var(--content-max-width); /* Largeur maximale du contenu */
}

nav > article {
    margin: 0;
}

.navbar_container nav > article .icon {
    width: 44px;
    height: 44px;
}

.link_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.link_item section {
    margin: 0;
}

.link_item section > ul {
    display: flex;
    gap: var(--gap-medium); /* Espacement entre les éléments de la liste */
}

.link_item ul li a {
    font-size: var(--font-size-medium); /* Taille de police pour les liens */
    padding: var(--gap-small) 0; /* Padding vertical */
    display: block;
}

.link_item section:nth-child(2) {
    display: flex;
    gap: var(--gap-medium); /* Espacement entre les éléments de la section */
}

.menu-hamburger {
    display: none;
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {
    nav {
        flex-direction: column;
    }

    nav section {
        margin: 0;
    }

    nav article section > ul {
        flex-direction: column;
        gap: var(--gap-medium); /* Espacement entre les éléments de la liste */
        padding-left: 0;
        margin: var(--gap-small) 0; /* Espacement vertical */
        width: 100%;
    }

    nav section > ul li {
        margin: 0;
        border-top: 1px solid var(--border-color); /* Bordure supérieure */
        width: 100%;
    }

    .menu-hamburger {
        display: block;
        cursor: pointer;
    }

    .menu-hamburger a {
        display: inline-block;
        font-size: var(--font-size-large); /* Taille de police pour l'icône du menu */
        margin-left: var(--gap-small); /* Marge à gauche */
    }

    .menu-hamburger .fa-x {
        display: none;
    }

    .menu-hamburger.active .fa-bars {
        display: none;
    }

    .menu-hamburger.active .fa-x {
        display: inline-block;
    }

    /* Ensure visibility of menu when open */
    .link_item.is-visible {
        display: block;
    }

    .link_item {
        display: none;
    }
}
